/services/github.com/alyrot/UserServiceSchema/userService.pb.go
/services/github.com/alyrot/UserServiceSchema/userService_grpc.pb.go
/protobufs/UserServiceSchema/userService.pb.go
/protobufs/UserServiceSchema/userService_grpc.pb.go
